.wrapper {
  overflow-x: hidden;
  height: 100%;
  position: relative;
}
.main-content {
  padding: 15vh 0 0 0;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;

  top: 15vh;
}
.nav-bar {
  height: 15vh;
  position: fixed;
  width: 100%;
}
.footer {
  bottom: 0;
  left: 0;
  width: 100%;
}
